In [1]:
a=2

In [2]:
a/2

1.0

In [3]:
a**2

4

In [4]:
b="python"

In [10]:
c="geovy"

In [13]:
b*4

'pythonpythonpythonpython'

In [17]:
lista_1=[1,2,3,4,5]

In [18]:
lista_1

[1, 2, 3, 4, 5]

In [24]:
lista_1[-2]

4

In [25]:
len(lista_1)

5

In [26]:
print(lista_1)

[1, 2, 3, 4, 5]

In [27]:
print(c)

geovy

In [31]:
print("los valores de la lista es:",lista_1)

los valores de la lista es: [1, 2, 3, 4, 5]

In [1]:
import pandas as pd

In [5]:
#lectura de archicvos

In [4]:
data_excel=pd.read_excel("DATA.xlsx",sheet_name="Hoja1")

In [6]:
data_excel

  LETRAS  NÚMEROS
0     A         1
1      B        2
2      C        3
3      D        4
4      E        5
5      F        6
6      G        7
7      H        8
8      I        9
9      J       10

In [7]:
data_excel["CALCULO"]=data_excel.NÚMEROS*3

In [8]:
data_excel

  LETRAS  NÚMEROS  CALCULO
0     A         1        3
1      B        2        6
2      C        3        9
3      D        4       12
4      E        5       15
5      F        6       18
6      G        7       21
7      H        8       24
8      I        9       27
9      J       10       30

In [9]:
import altair as alt

In [16]:
grafico=alt.Chart(data_excel).mark_bar().encode(
x="NÚMEROS",
y="CALCULO",
tooltip=["NÚMEROS","CALCULO"]).interactive()

In [17]:
grafico.display()

alt.Chart(...)